.TechStackInfoText {
	font-size: 20px;
	font-weight: 500;
	color: white;
	background-color: #1e1e21;
	min-width: 125px;
	padding: 0 1rem;
	height: 50px;
	text-align: center;
	line-height: 50px;
	&:hover {
		background-color: #2c2c2e;
		transition: 0.5s;
		scale: 1.1;
	}
}
