*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  height: auto;
}

.heroSectionContainer{
  background-image: url("./assets/Gifs/sun.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.techStackCountainer{
  background-color: black;
}